@import '../font';
@import '../mixin';
@import '../component';
@import '../function';


.news__section {
    display: grid;
    position: relative;
    
    grid-row-gap: 2vw;
    grid-column-gap: 2vh;
    padding: rem(13);
    color: black;
    @include size(100%, null);

    @include media_grid(desktop) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media_grid(desktopSmall) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media_grid(tableSize) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media_grid(phoneLarge) {
        grid-template-columns: 100%;
    }

    @include media_grid(phoneMedium) {
        grid-template-columns: 100%;
    }

    @include media_grid(phone) {
        grid-template-columns: 100%;
    }
}



.news__article {
    display: flex;
    @include size(100%);
    flex-direction: column;
    padding: rem(18);
    font-family: $some5;
      border-radius: 20px;
    border:1px solid $btmColors;
    &:hover{
        box-shadow: 1px 5px 15px $colorText;
        background-color: $colorCard;
        border:1px solid transparent;
    }
    .news__article__content {
        margin: 0;
        @include size(100%);
        padding: 5px;

        .news__h3 {
            margin: 0;
            text-align: center;
            padding: 1vh;
            color:$colorText;
        }

        .text__info {
            width: 100%;
            color: $colorText;

            .news__text {
                height: 100%;
                margin: 0;
            }
        }

        .goPosts {
            margin: 0;
            color: $colorText;
            height: 5%;
            text-align: center;
        }
    }

    .news__article__info {
        @include size(100%);
        color: $colorText;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

    }

}
    .search__block{
        display: flex;
        margin: auto;
        position: relative;
  width: 100%;
    justify-content: center;
    }

.news__search {
    display: flex;
    justify-content: space-between;
    width: rem(230);
    margin: auto;

    .iconSearch {
        @include size(4vh);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .searchNews__text {
        background: white;
        border-radius: 50px;
        padding: 10px;
        margin: 0;
        border: none;
        height: 4vh;
        position: absolute;
        font-size: rem(17);
       transform: translateX(-40%);
    }
}

.slide-leave-active,
.slide-enter-active {
    animation-name: vision;
    animation-duration: .7s;
    animation-fill-mode: both;
}

.slide-leave-active {
    animation-direction: reverse;
}

@keyframes vision {
    from {
        opacity: 0;
        width: 0px;
        transform: translateX(-5%);
    }

    to {
        opacity: 1;
        width: 100%;
        transform: translateX(-40%);
    }
}