@font-face{
    font-family: "Alice";
    src:url(/assets/fonts/Alice-Regular.ttf);
    }
@font-face{
    font-family: "Literata";
    src: url(/assets/fonts/Literata[wght].ttf);
}
@font-face{
    font-family: "LiterataIT";
    src: url(/assets/fonts/Literata-Italic[wght].ttf);
}
@font-face {
    font-family: "RubikMonoOne";
    src: url(/assets/fonts/RubikMonoOne-Regular.ttf);
}@font-face {
    font-family: "OpenSans";
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}