@import 'font';
@import 'mixin';
@import 'component';
@import 'function';
@import 'media';

html,
body {
    @include bodyAndHtml;
    font-size: $mainFontSize;
    min-height: 100%;

    @include media_grid(desktop) {
        font-size: $mainFontSize - 1;
    }

    @include media_grid(desktopSmall) {
        font-size: $mainFontSize - 2;
    }

    @include media_grid(tableSize) {
        font-size: $mainFontSize - 3;
    }

    @include media_grid(phoneLarge) {
        font-size: $mainFontSize - 3;
    }

    @include media_grid(phoneMedium) {
        font-size: $mainFontSize - 3;
    }

    @include media_grid(phone) {
        font-size: $mainFontSize - 3;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color:$default;
}

ul {
    list-style-type: none;
}



#wrapper {
    background-color: #ff9d00;
    background-image: url(/assets/img/quantum.svg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    max-height: auto;
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    margin: 50px auto;
}

main {
min-height: 80vh;
}

footer {   
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 100%;
    .copyright{
        color:$default; 
        padding: 10px;
    }
    .createdBy{
    padding: 10px;
    a{
        &:hover{
            color:$hoverColorOne;
        }
    }
    }
}


// Navbar from header
nav {
display: flex;
margin:auto;
background-color: $default;
border-radius: 100px;
padding: 20px;
box-shadow: 0 0 5px $hoverColorOne;
justify-content: center;
align-items: center;
position: relative;
    @include menu;


    & .nav__ul{
        margin: 0;
        padding: 0;
        display:inline-flex;
        .nav__ul__links{
            margin: 0 10px;
            font-size: 1.1rem;
            font-family: $some2;
            text-transform: uppercase;
            .nav_link{
                position: relative;
                 color:$modalBackground;               
                &:hover{
                    color:$hoverColorOne;
                    text-shadow: $default;
                }
                span{
                   display: none;
                 
                }
               &.router-link-exact-active{
                                          
                &:hover{
                    color:$modalBackground;
                }
                span{
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    width:100%;
                    height: 1px;
                    animation: borderOn 1.5s ease-in-out infinite;
                    animation-direction: alternate;
                }
                }

                }

            }
    }
// Burger btn and actions
.burger {
    @include size(40px);
 
    .burger__btn {
        position: relative;
        display: block;
        @include size($whBurger);

        .burger__btn__span {
            position: absolute;
            top: 50%;
            @include size(100%, 2px);

            &::after,
            &::before {
                content: '';
                @include size(100%, 2px);
                position: absolute;
                transition: 1s;
            }

            &::after {
                background: $btmColors;
                transform: translateY($whBurger/3);
            }

            &::before {
                background: $btmColors;
                transform: translateY(-$whBurger/3);
            }
        }

        &.defualt {
            .burger__btn__span {
                background: $btmColors;
                animation-name: fadeOut;
                transition: 1s;
                animation-direction: alternate-reverse;
            }
        }

        &.active {
            .burger__btn__span {
                background: none;
                transition: 1s;

                &::after {
                    background: $btmColors;
                    transform: rotate(35deg);
                }

                &::before {
                    background: $btmColors;
                    transform: rotate(-35deg);
                }

            }
        }
    }
}

}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    }

@keyframes zoom {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
        opacity: 1;
    }
    }

.zoom-enter-active,
.zoom-leave-active {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: zoom;
    }

.zoom-leave-active {
    animation-direction: reverse;
    }

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity;
    transition-timing-function: ease;
    overflow: hidden;
    }

.fade-enter,
.fade-leave-active {
    opacity: 0
    }


.loading {
        z-index: 1000;
        font-size:rem(30);
        .point {
            font-size: rem(30);
            position: relative;

            &.one {
                animation: bounce 1s .1s infinite;
            }

            &.two {
                animation: bounce 1s .3s infinite;
            }

            &.three {
                animation: bounce 1s .5s infinite;
            }
        }
        }
@keyframes bounce {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
        }
@keyframes borderOn{
    from{
            left: 50%;
            width: 0px;
            opacity: 0;
            background: $warning;
    }
    to{
        left: 10%;
        width: 80%;
        opacity: 1;
        background: $warning;
    }
    }


@include modal__window;

